@import url(_reset.css);
@import url(_variables.css);


.footer{
    background-color: black;
    height:2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    color: var(--branco);
    position: absolute;
    bottom: 0;
}